 :root{
    --cor-primaria: #000;
    --cor-secundaria: #2e3038;
    --cor-terciaria: #fbe850;
    --cor-header: #adadad;
    --cor-letras: #f0f0f0;  
}

*{
    margin 0;
    padding 0;
}

body{
    box-sizing: border-box;
    background-color: var(--cor-primaria);
    color: var(--cor-letras);   
}


.cabecalho {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 2rem;
  padding: 2%;
}

.cabecalho__links {
  list-style: none;
  display: flex;
  gap: 2rem;
  color: var(--cor-header);
}

.cabecalho__contato {
  display: flex;
  border-radius: 5%;
  border: 13px solid var(--cor-terciaria);
  border-radius: 1px;
  box-sizing: content-box;
  background-color: var(--cor-terciaria);
  color: var(--cor-primaria);
  margin-right: 3.75rem;
}

  .cabecalho__autor {
    float: left;
    margin-left: 3.12rem;
  }

  .conteudo{
  display: flex;
  flex-direction: column;
  padding: 2%;
  margin-left: 3.12rem;
  }
 
.conteudo__titulo{
  font-size: 3.12rem;
  font-family: 'Courier New', Courier, monospace;
  margin: 0;
  font-style: normal;
}

.conteudo__titulo__continuacao{
  margin: 0;
  font-size: 3.12rem;
  font-family: 'Courier New', Courier, monospace;
  
}

.conteudo__texto{
  margin-bottom: 0.62rem;
  word-break: break-all;
  color: var(--cor-header);
  font-size: 20px;
}
  
  .patrocinadores{
    display: flex;
    padding-bottom: 5%;
    padding-top: 5%;
    justify-content:space-between;
    align-items: center;
  }
  
  .exemplos{
    display: flex;
    justify-content: space-between;

  }

  .titulos{
    display: flex;
    justify-content: space-between;
    padding-top: 2%;
    margin-bottom: -0.5rem;
  }

  .exemplos__spense__titulo{
    float: left;
    font-size: 1.87rem;
    
  }

  .exemplos__yelp__titulo{
    font-size: 1.87rem;
    width: 43.2%;
    
  }
 .textos{
  display: flex;
  justify-content: space-between;
  padding-top: 0.006rem;
}

  .texto-spense{
    font-size: 1.25rem;
    color: var(--cor-header);
  }

  .texto-yelp{
    font-size: 1.25rem;
    color: var(--cor-header);
    width: 43.2%;
  }
