 :root{
    --cor-primaria: #000;
    --cor-secundaria: #2e3038;
    --cor-terciaria: #fbe850;
    --cor-header: #adadad;
    --cor-letras: #f0f0f0;  
}

*{
    margin 0;
    padding 0;
}

body{
    box-sizing: border-box;
    background-color: var(--cor-primaria);
    color: var(--cor-letras);   
}


.cabecalho {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 32px;
  padding: 2%;
}

.cabecalho__links {
  list-style: none;
  display: flex;
  gap: 32px;
  color: var(--cor-header);
}

.cabecalho__contato {
  display: flex;
  border-radius: 5%;
  border: 10px solid var(--cor-terciaria);
  border-radius: 1px;
  box-sizing: content-box;
  background-color: var(--cor-terciaria);
  color: var(--cor-primaria);
  margin-right: 3.75rem;
}

  .cabecalho__autor {
    float: left;
    margin-left: 3.12rem;
  }

  .conteudo{
  display: flex;
  flex-direction: column;
  padding: 2%;
  margin-left: 3.12rem;
  }
 
.conteudo__titulo{
  font-size: 50px;
  font-family: 'Courier New', Courier, monospace;
  margin: 0;
  font-style: normal;
}

.conteudo__titulo__continuacao{
  margin: 0;
  font-size: 50px;
  font-family: 'Courier New', Courier, monospace;
}

.conteudo__texto{
  margin-bottom: 10px;
  word-break: break-all;
}
  
  
  
